:root {
  --open-effect: "tmslideIn";
  --close-effect: "tmslideOut";
}

@import "./effects/_fade";
@import "./effects/_slide";
@import "./effects/_zoom";
@import "./effects/_hor";
@import "./effects/_fromTop";

// endmodal
.g-modal[aria-hidden="true"] {
  .g-modal__layout {
    animation: var(--close-effect) 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
  .g-modal__overlay {
    animation: tmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
}

.g-modal[aria-hidden="false"] {
  .g-modal__layout {
    animation: var(--open-effect) 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
  .g-modal__overlay {
    animation: tmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
}
