name: Build and Test

on:
  push:
    branches: [next, main]
  pull_request:
    branches: [next, main]

jobs:
  # Build the library and site
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          cmd: yarn install && yarn build

  # Run the test suite
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - uses: cypress-io/github-action@v4
        with:
          build: yarn build
          runTests: false # just build site
      - uses: cypress-io/github-action@v4
        with:
          install: true
          working-directory: tests
          start: yarn start
          wait-on: http://localhost:1234
